<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ("./cssjs.ejs") %>
</head>
<body>
    <%- include("header.ejs") %>
    <div class="flex-box">
            <% for (let i = 0; i < pokemons.length; i++){ %>
                <div class="card">
                <div class="pokeimg"><a href="/pokemon/<%= i %>"><li><img src= "<%= pokemons[i].img%>"></li></a></div>
            
                <div class="delete-button"><form action="/pokemon/<%= i %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Pokemon">
                </form> </div>
                <div class="edit-button"><a href="/pokemon/<%= i %>/edit"><button>Edit</button></a></div>
                </div>
            <% } %>
    </div>
</body>
</html>